footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  color: #fafafa;
  text-align: center;
  display: hidden;
  padding: 15px 0 5px;
}

/*.footer {
  padding: 50px 0 20px;
  border-top: 1px solid  var(--border-color-2);
}*/

@media (max-width: 852px){

  footer {
    display: none;
  }
  
}